.Signupbox-base {
    width: 150px;
    height: 200px;
    border-top-left-radius: 30px;
    background: rgb(127, 223, 255);
    border: 2px solid white;
    float: left;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
}

.Signupbox-base h5{
    font-size: 18px;
    color: black;
    margin: 5px;
}

.Signupbox-base h3{
    font-size: 50px;
    color: black;
    margin: 15px;
}

.Signupbox-timer {
    font-size: 20px;
    color: black;
    
}

.Signupbox-base i{
    color: black
    
}

.Signupbox-base sup{
    font-size: 30px;
}

.Signup-base {
    overflow:hidden;
    background: white;
    padding-bottom: 30px;
}

.Signup-base h1{
    color: black;
    padding-left: 20px;
}